body
{
    background: url("pingouin.png") fixed no-repeat top, url("feuilles.png") ;

}

h1
{
    color: blueviolet;
    font-size: 70px;
}

h2
{
    color: white;
    font-size: 45px;
}

p
{
    text-align: justify;
    font-size: 35px;
    color: white;
}

.a
{
    text-align: center;
}